@import "../../styles/global.scss";

.activityCard {
  @include flex(_, _, 0.5rem, column, _);
  max-width: 320px;
  width: 100%;
  border-radius: 0.75rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  background-color: $dashboard-bg;
  font-family: $font;

  .activityInfo {
    @include flex(flex-start, center, 1rem, _, _);

    .imgDiv {
      max-width: 2.25rem;
      width: 100%;
      max-height: 2.25rem;
      position: relative;

      .profilePic {
        border-radius: 0.75rem;
        height: 2.25rem;
        width: 2.25rem;
      }

      .verified {
        @include absolute(-35%, -15px, _, _, _);
        z-index: 999;
      }
    }
    .userInfo {
      @include flex(_, _, 0.25rem, column, _);

      .userName {
        @include text(1rem, $white, _, 400);
        font-family: $font;
        line-height: 1rem;
      }

      .activity {
        @include text(0.75rem, $white-tp, _, 300);
        font-family: $font;
        line-height: 0.75rem;

        span {
          color: $yellow;
        }
      }
    }
  }
  .buttonsDiv {
    @include flex(center, center, 1.25rem, row, _);
    background-color: $dashboard-bg;
    max-width: 276px;
    width: 100%;
    max-height: 1.25rem;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;

    button {
      border: none;
      background-color: transparent;
      padding: 1px 33px;
      font-weight: 900;
    }
    .remove {
      color: $white;
      font-size: 10px;
      line-height: 10px;
    }
    .follow {
      background-color: $yellow;
      font-size: 7px;
      line-height: 7px;
      border-radius: 15px;
    }
  }
}
