@import "../../styles/global";

.RecoverPassword {
  background: $main-bg;
  min-height: 100vh;
  width: 100vw;
  padding: 14px;
  position: relative;
  overflow: hidden;

  .container {
    @include flex(flex-start, _, _, _, _);

    .reg-box {
      flex-grow: 1;
      position: relative;
      user-select: none;

      header {
        @include flex(left, center, 6px, _, _);
        padding: 28px 22px;

        img {
          width: 52px;
        }

        h1 {
          @include header(36px, 800, transparent, italic, _, $logo);
          background-clip: text;
          margin: 0;
        }
      }

      h2 {
        @include header(32px, 700, $white, italic, center, _);
        margin: 26px 0;
      }

      form {
        @include flex(_, _, 20px, column, _);
        padding: 20px 90px;
        margin: 0 auto;
        max-width: 660px;

        .input-box {
          @include flex(_, _, _, column, _);

          .password-input {
            position: relative;
            width: 100%;

            i {
              @include absolute(50%, 10px, _, _, translateY(-50%));
              font-size: 24px;
              cursor: pointer;
              color: $white;
            }
          }

          label {
            color: $white;
            font-weight: 200;
            font-size: 24px;
          }

          input {
            @include input(
              100%,
              12px,
              transparent,
              2px solid $white,
              4px,
              20px
            );
          }

          #remember_me {
            display: none;
          }

          #remember_me + label {
            width: 24px;
            height: 24px;
            border: 2px solid $white;
            border-radius: 4px;
            background-color: transparent;
            display: inline-block;
            cursor: pointer;
            position: relative;
          }

          #remember_me:checked + label::after {
            @include after_before("✔", 50%, _, _, 50%, translate(-50%, -50%));
            @include text(16px, $white, _, 200);
            line-height: 1;
          }

          .remember_me_row {
            @include flex(space-between, center, _, _, _);
            position: relative;
            margin-top: 20px;

            div {
              @include flex(_, center, 4px, _, _);

              span {
                @include text(20px, $white, _, _);
              }
            }

            a {
              @include text(20px, $white, _, _);
              transition: 0.3s;

              &:hover {
                color: $btn-hover;
              }
            }
          }

          @media (max-width: 650px) {
            input {
              padding: 8px;
            }

            label,
            span,
            a {
              font-size: 18px !important;
            }
          }
        }

        .btn-box {
          @include flex(_, _, 36px, column, _);
          margin: 40px 0;
        }
      }

      @media (max-height: 780px) {
        form {
          gap: 10px;
          padding: 10px 20px;
          max-width: 500px;

          input {
            padding: 8px !important;
          }

          label,
          a,
          span,
          button {
            font-size: 16px !important;
          }

          .btn_sign_in {
            padding: 0.25rem;
          }
        }
      }

      @media (max-height: 700px) {
        h2 {
          margin: 20px 0;
          font-size: 28px;
        }

        form {
          gap: 10px;
          padding: 0 20px !important;
          max-width: 500px;

          input {
            padding: 8px !important;
          }

          label,
          a,
          span,
          button {
            font-size: 16px !important;
          }

          .btn_sign_in {
            padding: 0.25rem;
          }

          .btn-box {
            margin: 10px 0;
          }
        }
      }

      @media (max-width: 1200px) {
        form {
          padding: 20px 20px;
        }
      }

      p {
        @include text(14px, $white, center, _);
        @include absolute(_, _, 20px, 50%, translate(-50%));
        z-index: 10000;
      }
    }
  }

  @media (max-width: 1050px) {
    .container {
      position: relative;

      .reg-box {
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: $black-tp;
      }
    }
  }
  .question-select {
    font-size: 24px;
    font-family: Avenir;
    border-radius: 1rem;
    padding: 18px 32px;
    color: $white;
    background-color: $black-tp;
  }
}
