@import "../../styles/global.scss";

.btn_sign_in {
  line-height: 43.71px;
  @include button($white, $btn-bg, 0.5rem 1rem, 0.5rem, 23px, _, $btn-hover);
}

.btn_sign_up {
  line-height: 43.71px;
  @include button($white, $black, 0.5rem 1rem, 0.5rem, 23px, _, $btn-hover);
}

.btn_my_profile {
  @include button($white, $btn-gr, 0.5rem 1rem, 1.5rem, 20px, _, _);
}

.btn_save {
  @include button($black, $yellow, 0.5rem 1rem, 1.4rem, 40px, 600, $d-yellow);
}

.btn_follow_back {
  @include button($black, $yellow, _, 1.5rem, 20px, 600, $d-yellow);
}

.btn-follow {
  @include button($black, $white, _, 1.5rem, 20px, 600, $btn-hover);
}

.btn_remove {
  border: none;
  @include button($white, $body-bg, _, 1.5rem, 20px, 600, $darkgrey);
}
.btn_edit_profile {
  @include button($white, $black, _, 1.5rem, 20px, 600, $d-yellow);
}
.btn_skills {
  @include button($black, $yellow, 0.8rem 2rem, 1rem, 18px, 600, $d-yellow);
}
