@import "../../styles/global.scss";

.btnSignIn {
  line-height: 43.71px;
  @include button($white, $btn-bg, 0.5rem 1rem, 0.5rem, 23px, _, $btn-hover);
}

.btnSignUp {
  line-height: 43.71px;
  @include button($white, $black, 0.5rem 1rem, 0.5rem, 23px, _, $btn-hover);
}

.btnMyProfile {
  @include button($white-tp, $btn-gr,.75rem, 1rem, 1rem, 200, _);
  width: 100%;
  display: inline-block;
  text-align: center;
}

.btnSave {
  @include button($black, $yellow, 0.5rem 1rem, 1.4rem, 40px, 600, $d-yellow);
}

.btnFollowBack {
  @include button($black, $yellow, _, 1.5rem, 20px, 600, $d-yellow);
}

.btnFollow {
  @include button($black, $white, _, 1.5rem, 20px, 600, $btn-hover);
}

.btnRemove {
  border: none;
  @include button($white, $body-bg, _, 1.5rem, 20px, 600, $darkgrey);
}
.btnEditProfile {
  @include button($white, $black, _, 1.5rem, 20px, 600, $d-yellow);
}
