@import "../../styles/global";

.dashboard {
  background: $dashboard-bg;

  .dashboard-body {
    display: flex;
    gap: 20px;

    .left-side {
      width: calc(25% - (40px / 3));
    }

    .middle {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: calc(50% - (40px / 3));
    }

    .right-side {
      width: calc(25% - (40px / 3));
    }
  }
}
