@import "../../styles/global";

.activity-share {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background: $darkgrey;
  border-radius: 1rem;
  padding: 0 2.5rem;
}

.activity-form {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .img-box {
    background: $dashboard-bg;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 2px;
      width: 40px;
      height: 40px;
      background: $darkgrey;
    }
  }

  .input-box {
    position: relative;
    width: 100%;

    input {
      padding: 12px 30px;
      width: 100%;
      flex-grow: 1;
      background: $dashboard-bg;
      border: none;
      outline: none;
      border-radius: 1rem;
      color: $white-tp;
      font-size: 1rem;
    }

    button {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      color: $white-tp;
      font-size: 20px;
      transition: 0.2s;

      &:hover {
        color: $white;
      }
    }
  }
}
