@import "../../styles/global.scss";

.skillCard {
  max-width: 350px;
  width: 100%;
  margin: 28px 0;
  @include flex(center, flex-start, 32px, column, wrap);
  h2 {
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
  }
  .skillBox {
    @include flex(flex-start, center, 12px, row, wrap);
    .oneSkill {
      background-color: #282828;
      color: #ffffff80;
      padding: 11px 21px;
      border-radius: 10px;
      font-size: 11px;
      font-weight: 800;
      line-height: 11px;
    }
  }
}
