@import "../../styles/global";

.reg-form {
  @include flex(_, _, 20px, _, wrap);
  width: 660px;
  margin: auto;

  input,
  select,
  label {
    @include input(
      calc(50% - 10px),
      8px,
      transparent,
      2px solid $white,
      4px,
      14px
    );
  }

  select,
  label {
    cursor: pointer;
  }

  select option {
    background: $darkgrey;
  }

  input::placeholder {
    color: $white;
  }

  input[type="file"] {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none;
  }
}
