@import "../../styles/global";

.regForm {
  @include flex(_, _, 1.25rem, _, wrap);
  padding: 1.25rem;
  max-width: 650px;
  margin: auto;
  z-index: 999;

  .inputField {
    width: calc(50% - 10px);
    position: relative;
    border: 2px solid $white;
    border-radius: 0.25rem;

    .errorMessage {
      @include text(10px, $white, right, _);
      position: relative;
      line-height: 0;

      span {
        line-height: 0;
        padding: 0 10px;
        display: inline-block;
        z-index: 999999;
      }
    }

    input,
    select,
    label {
      @include input(100%, 8px, transparent, none, 1.25rem, _, $white);
    }

    input:-webkit-autofill {
      -webkit-box-shadow: $autofill-shadow;
      -webkit-text-fill-color: $white;
      z-index: 0 !important;
    }

    input:-webkit-autofill:focus {
      -webkit-box-shadow: $autofill-shadow;
      -webkit-text-fill-color: $white;
      z-index: 0 !important;
    }

    i {
      @include absolute(50%, 10px, _, _, translate(0, -50%));
      color: $white;
      cursor: pointer;
    }
  }

  .buttonField {
    @include flex(space-between, _, 1.25rem, _, _);
    width: 100%;

    button {
      @include iflex(center, center, 1.25rem, calc(50% - 10px));
      font-size: 1rem;
      padding: 0.25rem !important;
      cursor: pointer;

      img {
        width: 32px;
      }
    }
  }

  .inputError {
    border: 2px solid red;
    padding-top: 0;
    margin-top: 0;
  }

  .inputValid {
    border: 2px solid green;
  }

  select,
  label {
    cursor: pointer;
  }

  select option {
    background: $darkgrey;
  }

  input::placeholder {
    color: $white;
  }

  input[type="file"] {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none;
  }

  #fileLabel {
    @include flex(space-between, center, _, _, _);
  }
}

@media (max-width: 1100px) {
  .regForm {
    max-width: 500px;

    .buttonField {
      flex-wrap: wrap;
      gap: 1.25rem;

      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .regForm {
    width: 100%;

    .inputField {
      flex-basis: 100%;
    }
  }
}
