$body-bg: #1a1a1a;
$btn-bg: #000000a1;
$black: #000;
$btn-hover: #8e8e8e;
$yellow: #fffd02;
$d-yellow: #999801;
$antracit: #1a1a1a;
$darkgrey: #282828;
$black-tp: #000000b3;
$dashboard-bg: #1a1a1a;
$white: #ffffff;
$white-tp: #ffffff80;
$btn-gr: linear-gradient(#282828, #464646);
$main-bg: linear-gradient(235deg, #00000057, #66666657);
$dashboard-gradient: linear-gradient(
  45deg,
  rgba(102, 102, 102, 0.34) 40%,
  rgb(26, 26, 26) 60%
);
$logo: linear-gradient(-90deg, $yellow, $d-yellow);
$autofill-shadow: 0 0 0 50px #272727 inset;
$font: Nunito sans;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $font;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
}

input:-moz-autofill {
  background-color: transparent !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
}

.container {
  max-width: 1440px;
  margin: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: $body-bg !important;
}

%navIcon {
  position: relative;
  font-size: 20px;
  color: $white;
  transition: 0.3s;

  &:hover {
    color: $yellow;
  }
}

::-webkit-scrollbar {
  width: 0;
}

%navActive {
  color: $yellow;

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $yellow;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}

@mixin button($color, $bg, $padding, $radius, $font-size, $weight, $hover-bg) {
  color: $color;
  background: $bg;
  padding: $padding;
  border-radius: $radius;
  font-size: $font-size;
  font-weight: $weight;
  font-family: $font;
  text-align: center;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background: $hover-bg;
  }
}

@mixin flex($just, $align, $gap, $direction, $wrap) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin iflex($just, $align, $gap, $width) {
  display: inline-flex;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
  width: $width;
}

@mixin after_before($content, $top, $right, $bottom, $left, $transform) {
  position: absolute;
  content: $content;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: $transform;
}

@mixin header($fz, $fw, $color, $fs, $align, $bg) {
  font-size: $fz;
  font-weight: $fw;
  color: $color;
  font-style: $fs;
  background: $bg;
  text-align: $align;
}

@mixin text($fz, $color, $align, $fw) {
  color: $color;
  font-size: $fz;
  font-weight: $fw;
  text-align: $align;
}

@mixin absolute($top, $right, $bottom, $left, $transform) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  transform: $transform;
}

@mixin input($width, $p, $bg, $border, $radius, $fz, $color) {
  width: $width;
  padding: $p;
  background: $bg;
  border: $border;
  outline: none;
  border-radius: $radius;
  color: $color;
  font-size: $fz;
}
