@import "../../styles/global";

.section-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .skills-1 {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
      font-family: Avenir;
      font-weight: 900;
      font-size: 32px;
      line-height: 40px;
      color: $white;
      margin-bottom: 20px;
    }
  }
  .skills-2 {
    border-radius: 20px;
    width: 80%;
    input {
      border: none;
      cursor: pointer;
    }
  }
}

.skills-2-input {
  padding: 15px 30px;
  border-radius: 10px;
  margin: auto;
  background-color: $darkgrey;
  font-family: Avenir;
  font-weight: 700;
  font-size: 24px;
  color: $white;
}

.skills-2-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.skill-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: $darkgrey;
  color: $white;
  flex-grow: 1;
  i {
    cursor: pointer;
  }
}
.every-single-skill-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  width: 25%;
}
