@import "../../styles/global.scss";

.notFoundPage {
  @include flex(center, center, 2.5rem, column, _);
  user-select: "none";
  height: 100vh;
  background-color: $body_bg;

  .notFoundPageButton {
    @include button($white, $black, 10px 80px, 10px, 32px, 350, #000000a1);
  }

  .notFoundBox {
    @include flex(center, center, 2.5rem, _, _);

    h1 {
      @include header(100px, 900, $white, _, end, _);
      font-family: $font;
      max-width: 400px;
      width: 100%;
    }
  }
}
